absl-py==0.11.0
amazon-kclpy==2.0.1
aniso8601==8.1.1
apipkg==1.5
appdirs==1.4.4
arrow==0.17.0
astroid==2.4.2
astunparse==1.6.3
atomicwrites==1.4.0
attrs==20.3.0
autoflake==1.4
autopep8==1.5.5
aws-cdk.assets==1.90.1
aws-cdk.aws-apigateway==1.90.1
aws-cdk.aws-apigatewayv2==1.90.1
aws-cdk.aws-applicationautoscaling==1.90.1
aws-cdk.aws-athena==1.90.1
aws-cdk.aws-autoscaling==1.90.1
aws-cdk.aws-autoscaling-common==1.90.1
aws-cdk.aws-autoscaling-hooktargets==1.90.1
aws-cdk.aws-batch==1.90.1
aws-cdk.aws-certificatemanager==1.90.1
aws-cdk.aws-cloudformation==1.90.1
aws-cdk.aws-cloudfront==1.90.1
aws-cdk.aws-cloudwatch==1.90.1
aws-cdk.aws-codebuild==1.90.1
aws-cdk.aws-codecommit==1.90.1
aws-cdk.aws-codeguruprofiler==1.90.1
aws-cdk.aws-codepipeline==1.90.1
aws-cdk.aws-cognito==1.90.1
aws-cdk.aws-dynamodb==1.90.1
aws-cdk.aws-ec2==1.90.1
aws-cdk.aws-ecr==1.90.1
aws-cdk.aws-ecr-assets==1.90.1
aws-cdk.aws-ecs==1.90.1
aws-cdk.aws-efs==1.90.1
aws-cdk.aws-elasticloadbalancing==1.90.1
aws-cdk.aws-elasticloadbalancingv2==1.90.1
aws-cdk.aws-events==1.90.1
aws-cdk.aws-events-targets==1.90.1
aws-cdk.aws-glue==1.90.1
aws-cdk.aws-iam==1.90.1
aws-cdk.aws-kinesis==1.90.1
aws-cdk.aws-kinesisfirehose==1.90.1
aws-cdk.aws-kms==1.90.1
aws-cdk.aws-lambda==1.90.1
aws-cdk.aws-logs==1.90.1
aws-cdk.aws-route53==1.90.1
aws-cdk.aws-route53-targets==1.90.1
aws-cdk.aws-s3==1.90.1
aws-cdk.aws-s3-assets==1.90.1
aws-cdk.aws-sam==1.90.1
aws-cdk.aws-secretsmanager==1.90.1
aws-cdk.aws-servicediscovery==1.90.1
aws-cdk.aws-sns==1.90.1
aws-cdk.aws-sns-subscriptions==1.90.1
aws-cdk.aws-sqs==1.90.1
aws-cdk.aws-ssm==1.90.1
aws-cdk.aws-stepfunctions==1.90.1
aws-cdk.cloud-assembly-schema==1.90.1
aws-cdk.core==1.90.1
aws-cdk.custom-resources==1.90.1
aws-cdk.cx-api==1.90.1
aws-cdk.region-info==1.90.1
aws-lambda-builders==1.0.0
# Editable install with no version control (aws-sam-translator==1.58.1)
-e /usr/local/lib/python3.8/site-packages
aws-xray-sdk==2.6.0
beautifulsoup4==4.9.3
binaryornot==0.4.4
black @ git+git://github.com/psf/black@b06cd15666e5d766347cda0434dc6c828a96c74a
boto==2.49.0
boto3==1.26.62
botocore==1.29.62
bs4==0.0.1
build==0.10.0
cachetools==4.1.0
cattrs==1.1.1
# Editable Git install with no remote (cdk-python==0.0.1)
-e /Users/buddhiks/Documents/repos/cdk-python/cdk_python
certifi==2020.4.5.2
cfn-lint==0.72.10
cfn-lint-serverless==0.3.2
cfnresponse==1.1.2
chardet==3.0.4
chevron==0.13.1
click==8.1.3
colorama==0.4.4
constructs==3.2.11
cookiecutter==1.6.0
coverage==4.5.4
dataclasses==0.6
dateparser==0.7.6
distlib==0.3.1
docker==4.2.2
docopt==0.6.2
docutils==0.15.2
elasticsearch==7.9.1
execnet==1.7.1
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
Flask-RESTful==0.3.8
future==0.18.2
gast==0.3.3
gevent==21.1.2
google-api-core==1.20.1
google-auth==1.17.2
google-auth-oauthlib==0.4.2
google-cloud==0.34.0
google-cloud-bigquery==1.25.0
google-cloud-core==1.3.0
google-cloud-storage==1.29.0
google-pasta==0.2.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
greenlet==1.0.0
grpcio==1.34.0
h5py==2.10.0
idna==2.9
iniconfig==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.17.0
jschema-to-python==1.2.3
jsii==1.21.0
jsonpatch==1.32
jsonpickle==1.4.2
jsonpointer==2.3
jsonschema==3.2.0
junit-xml==1.9
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.4.3
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
mo-dots==4.2.20340
mo-future==3.147.20327
mo-imports==3.149.20327
mo-kwargs==3.93.20259
mo-logs==4.3.20340
mock==4.0.2
more-itertools==8.7.0
moz-sql-parser==4.18.21031
mypy-extensions==0.4.3
networkx==2.8.8
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.4
parameterized==0.7.0
pathspec==0.8.0
pbr==5.11.1
Pillow==8.0.1
pip-tools==6.12.1
pipenv==2020.11.15
pipfile==0.0.2
pipreqs==0.4.10
pluggy==0.13.1
poyo==0.5.0
protobuf==3.12.2
publication==0.0.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pydantic==1.10.4
pyflakes==2.2.0
pylint==2.3.1
pyparsing==2.4.7
pyproject_hooks==1.0.0
pyrsistent==0.16.0
pytest==6.0.0
pytest-cov==2.7.1
pytest-forked==1.1.3
pytest-rerunfailures==7.0
pytest-timeout==1.3.3
pytest-xdist==1.30.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==6.0
regex==2020.7.14
requests==2.23.0
requests-oauthlib==1.3.0
rope==0.18.0
rsa==4.6
s3transfer==0.6.0
sarif-om==1.0.4
scikit-learn==0.23.2
scipy==1.5.4
serverlessrepo==0.1.9
six==1.15.0
soupsieve==2.0.1
sql-metadata==1.11.0
sqlparse==0.4.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.5.8
torch==1.7.0
torchvision==0.8.1
tox==3.20.0
typed-ast==1.4.2
typing_extensions==4.4.0
tzlocal==2.1
urllib3==1.25.11
virtualenv==20.0.31
virtualenv-clone==0.5.4
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
yarg==0.1.9
zope.event==4.5.0
zope.interface==5.2.0
